.left{

}

.menu{
	line-height:50px !important;
    height: 50px;
  	background-color:#32aafa;

}
.sec_left{
	display: none;
	padding:0 15px 0 15px;
	font-size: 28px;
	color:#fff;
	cursor: pointer;
}
.sec_right{
	float:right;
	padding:0 30px 0 0;
	a{
		display:inline-block;
	}
}
.reset{
	color:#fff;
	padding-right:30px;
}
@media (max-width:640px){
	.sec_left{
		display: block;
	}
}
