.mt_sm{
  margin-top: 8px;
}
.mt_md{
  margin-top: 16px;
}
.mt_lg{
  margin-top: 24px;
}

.mb_sm{
  margin-bottom: 8px;
}
.mb_md{
  margin-bottom: 16px;
}
.mb_lg{
  margin-bottom: 24px;
}

.home_wrap{
	ul{
		font-size: 0;
	    li{
            margin-bottom: 16px;
	   	a{
		  display:block;
		  height: 100px;
		  line-height: 100px;
		  margin: 0 8px;
	   	  text-align: center;
	   	  border: 1px solid #333;
	   	  font-size: 14px;
	   	  border-radius: 4px;
	   	  color: #333;
	   	}
	   }
	}
}